.form {
  width: 100%;

  &__group {
    @media (min-width: 1024px) {
      margin-bottom: 30px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 18px;
    }
  }

  &__field {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #312F54;
    box-shadow: none;
    border-radius: 0;
    font-family: "Unbounded", cursive;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    
    @media (min-width: 1024px) {
      font-size: 16px;
      padding: 12px 6px;
    }

    @media (max-width: 1023px) {
      font-size: 14px;
      padding: 8px 6px;
    }

    &::placeholder {
      color: #CECECE;
      transition: 100ms ease-in-out;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__select {
    position: relative;
    font-family: "Unbounded", cursive;
    color: #CECECE;

    select {
      display: none;
    }


    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #312F54;
    box-shadow: none;
    border-radius: 0;
    font-style: normal;
    font-weight: 300;

    @media (min-width: 1024px) {
      font-size: 16px;
      padding: 12px 6px;
    }

    @media (max-width: 1023px) {
      font-size: 14px;
      padding: 8px 6px;
    }
  }
}

.select {

  &-selected {
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%) rotate(-45deg);
      width: 8px;
      height: 8px;
      border-left: 2px solid #CECECE;
      border-bottom: 2px solid #CECECE;
      transition: 200ms ease-in-out;
    }
  }

  &-arrow {

    &-active {

      &::after {
        transform: translateY(-25%) rotate(-45deg) scale(-1);
      }
    }
  }

  &-items {
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #CECECE;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 8px 0;
    background: #130E2A;
    transition: 200ms ease-in-out;

    @media (min-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 1023px) {
      font-size: 14px;
    }

    div {
      padding: 8px;
      cursor: pointer;
      transition: 200ms ease-in-out;

      &:hover, &.same-as-selected {
        color: #fff;
      }
    }
  }

  &-hide {
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
  }
}