.mmenu {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 293px;
  display: flex;
  flex-direction: column;
  background: #130E2A;
  padding: 30px 18px 25px 18px;
  max-height: var(--visual-viewport-height);
  overflow-y: auto;
  transition: 300ms ease-in-out;

  @media (max-width: 767px) {
    width: 100%;
  }

  &:not(.active) {
    opacity: 0;
    visibility: hidden;
  }

  &__close {
    margin-left: auto;
    margin-bottom: 26px;
  }

  .button {
    margin-top: 32px;
    justify-content: center;
  }

  .login {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 35px;
    margin-top: 8px;
  }
}